The software to be designed is a simulator of the measurement process in an Atom Chip Microscope (ACM). An ACM uses a Bose-Einstein Condensate (BEC) in an atom chip-generated magnetic trap as a probe of local magnetic fields created by current in a condensed matter sample. Detection is via absorption imaging of resonant laser light, imaged through a lens system onto a CCD camera.

It must be possible to specify a sample current distribution, atom chip design, atom cloud specification, and imaging system. It must be possible to calculate, plot and analyze magnetic fields resulting from the sample and atom chip, to calculate, plot and analyze atom number density in the magnetic field, to calculate, plot and analyze the image of the atom cloud on the CCD, and to calculate, plot and analyze the final digital image.

The sample current distribution must be represented with a spatial fidelity that does not limit the overall fidelity of the simulation. The sample current distribution will be specified as a 2D current density vector field on a 2D surface.

The atom chip will be specified as a pattern of wires and currents.

The atom cloud will be specified with a temperature and number.

The imaging system will be specified with a numerical aperture and a magnification. The CCD will be specified with a pixel size and intensity to number conversion method.

The magnetic fields due to the currents and atom chip will be calculated analytically in the trap, and specified as a 3D vector field defined on the 1D trap line. The magnetic fields will be plotted as a magnitude, as components, and as a arrow plot. The magnetic fields will be analyzed to determine the trap frequency.

The atom number density will be represented as a scalar function defined on the 1D trap line. The atom number density will be calculated using the atom cloud specification and the potential associated with the magnetic fields. The atom number density will be calculated correctly for BECs and thermal clouds. The atom number density will be a steady state value.

The image of the atom cloud will be calculated using Fourier optics and classical optics. The image of the atom cloud will be represented as a scalar intensity field defined on the 1D image of the trap line.

The final digital image will be calculated based on pixel binning and quantization.

Later extensions might include 3D representations of the fields and atom number density, 2D representation of the images, green lattice binning, time-dependent potentials and cloud behavior, angled imaging effects, a GUI, etc.